version: '3'

services:
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_POLL_INTERVAL=43200  # 12 hours in seconds
      - WATCHTOWER_CLEANUP=true         # Clean up old images after updating
