---
- name: Install Portainer and Watchtower on Local Machine
  hosts: docker
  become: yes
  vars:
    local_data_path: "/home/{{ ansible_user }}/pcData/portainer"
  tasks:
    - name: Ensure local data directory exists
      file:
        path: "{{ local_data_path }}"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Pull the Portainer Docker image
      docker_image:
        name: portainer/portainer-ce
        source: pull

    - name: Create and start the Portainer container
      docker_container:
        name: portainer
        image: portainer/portainer-ce
        state: started
        ports:
          - "9000:9000"
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - "{{ local_data_path }}/data:/data"

    - name: Pull the Watchtower Docker image
      docker_image:
        name: containrrr/watchtower
        source: pull

    - name: Create and start the Watchtower container
      docker_container:
        name: watchtower
        image: containrrr/watchtower
        state: started
        restart_policy: always
        command: --cleanup
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
