---
services:
  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    restart: always
    ports:
      - "9000:9000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ docker_main_portainer_directory }}/data:/data

  postgres:
    image: {{ docker_main_postgres_image }}
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: {{ docker_main_postgres_database | quote }}
      POSTGRES_USER: {{ docker_main_postgres_user | quote }}
      POSTGRES_PASSWORD: {{ docker_main_postgres_password | quote }}
    volumes:
      - {{ docker_main_database_directory }}/data:/var/lib/postgresql/data
