---
- name: Configure static IP address
  hosts: new_vm
  gather_facts: no
  vars_files:
    - vars.yml
  tasks:
    - name: Ensure Python3 is installed
      raw: |
        sudo apt update
        sudo apt install -y python3 python3-apt

    - name: Wait for VM to be accessible
      wait_for:
        host: "{{ ansible_host }}"
        port: 22
        timeout: 300

    - name: Create netplan configuration directory if it does not exist
      become: yes
      file:
        path: /etc/netplan
        state: directory
        mode: '0755'

    - name: Remove old netplan configurations
      become: yes
      file:
        path: /etc/netplan/*.yaml
        state: absent

    - name: Remove old network interfaces configurations
      become: yes
      raw: |
        sudo rm /etc/network/interfaces.d/* || true
        sudo rm /etc/network/interfaces || true

    - name: Configure static IP address
      become: yes
      template:
        src: static_ip.j2
        dest: /etc/netplan/01-netcfg.yaml
        mode: '0600'

    - name: Apply netplan configuration
      become: yes
      command: netplan apply
      notify:
        - Restart networking

  handlers:
    - name: Restart networking
      become: yes
      service:
        name: systemd-networkd
        state: restarted

- name: Remove base static IP address
  hosts: new_static_ip_vm
  gather_facts: no
  vars_files:
    - vars.yml
  tasks:
    - name: Remove the IP address
      ansible.builtin.command: "ip addr del {{ static_ip_to_remove }}/16 dev {{ network_interface }}"

#add task to restart vm
